.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }

  #ftco-navbar {
    background-color: transparent !important;
    transition: background-color 0.4s ease-in-out;
    padding: 1rem 0;
  }