.sermon-wrap .img {
    width: 100%; }
  
  @media (max-width: 991.98px) {
    .sermon-wrap .btn-customize a {
      display: block;
      margin-bottom: 5px; } }
  
  @media (max-width: 767.98px) {
    .sermon-wrap .text {
      padding: 20px; } }
  
  .sermon-wrap .text h2 {
    font-weight: 700;
    font-size: 32px; }
    .sermon-wrap .text h2 a {
      color: #ce0f3d; }
  
  .sermon-wrap .meta span {
    display: block;
    margin-bottom: 15px;
    font-weight: 700; }
  